# Git
.git
.gitignore

# Docker
.docker
docker-compose.yml
Dockerfile
.dockerignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
logs/
*.log

# Local data
postgres_data/ 